/*===================== TABLE OF CONTENT =======================
1. Reset CSS
2. Fonts
3. General Styling
=============================================================*/
@font-face {
  src: url(fonts/DroidSerif-Bold.ttf);
  font-family: droidBold;
}

@font-face {
  src: url(fonts/DroidSerif-Regular.ttf);
  font-family: droid;
}

/*
font-family: 'Arimo', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/* ==== All tag Start ==== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html[hide-scrollbar="true"]::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background: #ffffff;
}

body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background-color: #e7e7e7;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background-color: #000000;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  -ms-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  -o-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

textarea::placeholder,
input::placeholder {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  outline: 0 !important;
}

img {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: droidBold;
  font-weight: 700;
  margin: 0px;
}

p {
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
}

.bg-gray {
  background-color: #f2f2f2;
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg-black {
  background: #000000;
}

.clr {
  clear: both;
}

.corp {
  overflow: hidden;
}

.corp-y {
  overflow-y: hidden;
}

.corp-x {
  overflow-x: hidden;
}

.no-flex {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.row-flex-none {
  display: block;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

/* ==== All tag End ==== */
/* ==== All-header ==== */
.all-header {
  text-align: left;
  padding: 0px 0px 25px 0px;
}

.all-header h3 {
  font-size: 48px;
  font-weight: 700;
  font-family: droidBold;
}

.all-header p {
  font-size: 16px;
  font-family: droid;
}

/* ==== All-header ==== */
/* ==== Top bar ==== */
#topbar {
  background: #151414;
  padding: 13px 0px;
  color: #aaaaaa;
  font-size: 14px;
}

#topbar .topbar-box-left ul li {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
  font-size: inherit;
}

#topbar .topbar-box-left ul li p {
  color: inherit;
  font-family: 'Lato', sans-serif;
}

#topbar .topbar-box-left ul li a {
  color: inherit;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#topbar .topbar-box-left ul li a i {
  font-size: inherit;
  color: inherit;
}

#topbar .topbar-box-left ul li a:hover {
  color: #119ee6;
}

#topbar .topbar-box-right {
  text-align: right;
}

#topbar .topbar-box-right a {
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  font-size: inherit;
  font-family: 'Lato', sans-serif;
}

#topbar .topbar-box-right a i {
  display: inline-block;
  vertical-align: middle;
  font-size: inherit;
  padding-right: 8px;
}

#topbar .topbar-box-right span {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 8px;
}

/* ==== Top bar ==== */
/* ==== Navbar ==== */
.navbar-nav li a {
  border-top: 1px solid #FAF9F8;
  padding: 20px 15px !important;
}

.navbar-nav li a:hover {
  color: #5cb2ea !important;
  border-top: 1px solid #5cb2ea;
}

#profile-icon {
  top: 100%;
  background-color: white;
}

#profile-icon-bar {
  width: 1.5px;
  height: 25px;
  background-color: #DCDCDC;
}

/* ==== Features ==== */
.feature-icon-container {
  width: 50px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #119EE6;
  color: #119EE6;
  font-size: 17px;
  margin-bottom: 20px;
}

/* ==== Features ==== */
/* ==== building-bg ==== */
.building-bg {
  background: url(../images/findurDomainbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.building-bg:after {
  position: absolute;
  content: '';
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
}

.building-bg .building-bg-wrap {
  position: relative;
  z-index: 9;
}

#domain-container {
  max-width: 600px;
  margin: 0 auto;
}

/* ==== building-bg ==== */
/* ==== Hosting ==== */
#hosting .hosting-wrap {
  background: #119ee6;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#hosting .hosting-wrap:hover {
  background: #fff;
}

#hosting .hosting-wrap:hover .hosting-box {
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  background: #fff;
  color: #222;
}

#hosting .hosting-wrap:hover .hosting-box .hosting-icon {
  border: 2px solid #119ee6;
}

#hosting .hosting-wrap:hover .hosting-box .hosting-icon i {
  background: #000;
  color: #fff;
}

#hosting .hosting-wrap:hover .hosting-box a {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

#hosting .hosting-wrap .hosting-box {
  padding: 55px 30px 30px 30px;
  background: #119ee6;
  color: #fff;
  position: relative;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#hosting .hosting-wrap .hosting-box .hosting-icon {
  position: absolute;
  top: -33px;
  left: 30px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #000000;
  text-align: center;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#hosting .hosting-wrap .hosting-box .hosting-icon i {
  font-size: 24px;
  line-height: 56px;
  background: #119ee6;
  display: block;
  color: #fff;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin: 3px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#hosting .hosting-wrap .hosting-box h5 {
  font-size: 24px;
  color: inherit;
}

#hosting .hosting-wrap .hosting-box p {
  font-size: 14px;
  padding: 16px 0px 0px 0px;
  color: inherit;
}

#hosting .hosting-wrap .hosting-box a {
  position: absolute;
  left: 30px;
  right: 30px;
  height: 40px;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  padding-top: 20px;
  font-size: 14px;
  color: #119ee6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#hosting .hosting-wrap .hosting-box a i {
  padding-left: 10px;
  font-size: 14px;
  color: inherit;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

/* ==== Hosting ==== */
/* ==== pricing ==== */
#pricing .pricing-wrapper {
  text-align: center;
  max-width: 348px;
  margin: 0 auto;
}

#pricing .pricing-wrapper .pricing-top {
  position: relative;
  color: #ffffff;
  background: #000000;
  padding: 0px 0px 50px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#pricing .pricing-wrapper .pricing-top p {
  font-family: droidBold;
}

#pricing .pricing-wrapper .pricing-top .circle-icon {
  position: absolute;
  bottom: -48px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #000000;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#pricing .pricing-wrapper .pricing-top .circle-icon i {
  font-size: 30px;
  line-height: 100px;
}

#pricing .pricing-wrapper .pricing-top .circle-icon .halfCircle {
  position: absolute;
  bottom: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#pricing .pricing-wrapper:hover .pricing-top {
  background: #0D6EFD;
}

#pricing .pricing-wrapper:hover .pricing-top .circle-icon {
  background: #0D6EFD;
}

#pricing .pricing-wrapper button:hover {
  background: #000000;
}

#pricing .pricing-wrapper .pricing-top #recommended {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #fff;
  color: #0D6EFD;
  padding: 10px 50px;
  top: 25px;
  left: -58px;
}

/* ==== pricing ==== */
/* ==== Stat ==== */
.stat-container {
  -webkit-transform: skewX(-18deg);
          transform: skewX(-18deg);
  border-right: 2px solid #0d6dfd85;
  margin: 0 auto;
}

.stat-data {
  -webkit-transform: skewX(18deg);
          transform: skewX(18deg);
  margin: 0 60px;
  position: relative;
}

.bg-icon {
  position: absolute;
  opacity: 0.2;
  font-size: 55px;
  top: -20px;
}

/* ==== Stat ==== */
/* ==== Offers ==== */
#offer-icons {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
}

.offer-icon-container {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.123);
  font-size: 20px;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}

.offer-icon-container:hover {
  border-bottom: 2px solid #0D6EFD;
  color: #0D6EFD;
}

#learn-more-btn {
  background-color: transparent;
  cursor: pointer;
}

#learn-more-btn:hover {
  color: #0D6EFD;
}

/* ==== Offers ==== */
/* ==== Why Choose Us ==== */
#reasons-container {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}

#reasons-container div {
  padding: 15px;
  color: #fff;
}

.reason-container:hover {
  background-color: #000 !important;
}

#reasons-container .reason-container .reason-serial {
  position: absolute;
  font-size: 60px;
  opacity: 0.2;
  top: 20px;
  right: 10px;
}

#reasons-container .reason-container .reason-serial-left {
  position: absolute;
  font-size: 60px;
  opacity: 0.2;
  top: 40px;
  left: 10px;
}

/* ==== Why Choose Us ==== */
/* ==== Client Says ==== */
.client-quote {
  position: absolute;
  top: -18px;
  left: 10px;
  font-size: 35px;
  opacity: 0.15;
}

.stars {
  opacity: 0.3;
}

/* ==== Client Says ==== */
/* ==== Footer ==== */
#footer {
  background-color: #151414;
}

.hover:hover {
  color: #119EE6 !important;
}

#footer a {
  color: #aaaaaa;
  font-size: 12px;
  cursor: pointer;
}

#footer a:hover {
  color: #119EE6;
}

/* ==== Footer ==== */
/* ==== Responsive Start ==== */
@media only screen and (min-width: 576px) {
  #reasons-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  #reasons-container {
    -ms-grid-columns: (1fr)[14];
        grid-template-columns: repeat(14, 1fr);
  }
  #reasons-container div:nth-child(1) {
    grid-row: span 2;
    grid-column: span 5;
  }
  #reasons-container div:nth-child(2) {
    grid-column: span 4;
  }
  #reasons-container div:nth-child(3) {
    grid-column: span 5;
  }
  #reasons-container div:nth-child(4) {
    grid-column: span 5;
  }
  #reasons-container div:nth-child(5) {
    grid-column: span 4;
  }
}

/* ==== Responsive End ==== */
/*# sourceMappingURL=style.css.map */